.innhold{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(12rem, auto);
  gap: 1rem;

}

@media only screen and (min-width:1200px){
  .innhold{
    max-width: 100%;
    margin:auto;
  }
}

.to-rader{
  grid-row: span 2;
}

.tre-rader{
  grid-row: span 3;
}

.tre-Kolonner{
grid-column: span 3;
}

.fire-Kolonner{
  grid-column: span 4;
}

.fem-Kolonner{
 grid-column: span 5;
}

.seks-Kolonner{
 grid-column: span 6;
}

.sju-Kolonner{
  grid-column: span 7;
}

.aatte-Kolonner{
  grid-column: span 8;
}

.tolv-Kolonner{
  grid-column: span 12;
}

.svart{background-color: #0f0e0d;}

.ganske-svart-farge{
  background-color: #1f1e1c;
}

.fin-skrift{
  font-family: Helvetica,Arial,sans-serif;
  color:white;

}


.overskrift{
  display: grid;
  color:white;
  text-align: left;
}

.footyhub{
  padding:2%
}


.flyt{
  width:auto;
  text-decoration: none;
  padding: 1%;
  background-color: #3e7823;
  color: white;
  border-collapse: collapse;
  border:1px solid #1f1e1c;
  position: center;

}


a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

/*.flyt a:active{
  background-color: #203e99;
}*/

.aktiv{
  background-color: #126630;
}



.id img{
  width:50px;
  height:50px;
  object-fit: scale-down;
}

.btn {
  line-height: 300%; /*50px;*/
  height: 100%; /*50px;*/
  text-align: center;
  width: 25%; /*250px;*/
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-3 { background-color: #66A182;
}

.btn-three {
  color: #FFF;
  transition: all 0.5s;
  float: right;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute; /*absolute*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;; /*absolute*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}



.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

iframe{
  width: 100%;
  height: 200%;
  border:none;
}

img{
  position: relative;
  align-items: start;
}


.btnTo{
  line-height: 300%; /*50px;*/
  height: 100%; /*50px;*/
  text-align: center;
  width: 100%; /*250px;*/
  cursor: pointer;
}

.ingengap{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(12rem, auto);
  gap: 1rem;
}

button{
  background-color: #0f0e0d;
  border: none;
  /*Har tenkt til å ha border, for nå så er det greit å se hvor knappen er*/
}


h3{
   position: absolute;

   margin: 0;

   color: white;

   background-color:white; /*#cc2ed1;*/

   padding:5px;

   color: black;
}

 .bildeGalleri{
      position: relative;

      filter: blur(5px);

      left: 0;

      top: 0;

      width: 100%;

      height: 100%;

       /*Har lyst at bildene skal være like store*/
  }

button img::before{
  content: '';
  position: absolute; /*absolute*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1;
}

button img:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

button img::after {
  content: '';
  position: absolute;; /*absolute*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
  filter: none;
}

button img:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.andreBilder{
  width:100%;
  top:0;
  bottom:0;
}

  video{
    position: absolute;
  }

.liggIMidten{
  display: flex;
  object-position: center;
  justify-content: center;
/*Vil at videoene skal ligge i midten, med det gjør de ikke*/
}

.bakgrunnsfarge{
  background-color: #242625;

}

.padding{
  padding:4%;
}

.paddingTo{
  padding:2%;
}

.container {
  position: relative;
  text-align: center;
  color: white;}


.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
