.innhold{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(12rem, auto);
  gap: 1rem;

}

@media only screen and (min-width:1200px){
  .innhold{
    max-width:80rem;
    margin:auto;
  }
}

.to-rader{
  grid-row: span 2;
}

.tre-rader{
  grid-row: span 3;
}

.tre-Kolonner{
grid-column: span 3;
}

.fire-Kolonner{
  grid-column: span 4;
}

.fem-Kolonner{
 grid-column: span 5;
}

.seks-Kolonner{
 grid-column: span 6;
}

.sju-Kolonner{
  grid-column: span 7;
}

.aatte-Kolonner{
  grid-column: span 8;
}

.tolv-Kolonner{
  grid-column: span 12;
}

.svart{background-color: #0f0e0d;}

.ganske-svart-farge{
  background-color: #1f1e1c;
}

.fin-skrift{
  font-family: Helvetica,Arial,sans-serif;
  color:white;
}

.innhold img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: center;
}

.overskrift{
  display: grid;
  color:white;
  text-align: left;
  padding:2%;
}

.flyt{
  float:right;
  width:100%;
}

.flyt a{
  text-decoration: none;
  padding: 1rem;
  background-color: #3e7823;
  color: white;
  border-collapse: collapse;
  border:1px solid #1f1e1c;
  float:right;
}
